html {
  height: 100%;
}
body {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(135,235,255,1) 25%, rgba(0,212,255,1) 100%);
  font-family: 'DogicaRegular';
  font-weight: normal;
  font-style: normal;
  /* height: 100%; */
}



#test {
  background-color: white;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-bottom: 10vh;
  margin-right: 10vw;
  width: 80vw;
  height: 80vh;
  padding:0;
  z-index: 10;
}

#header img {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  min-width: 500px;
  min-height: 500px;

  border-color: black;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#header div {
  margin-left: 1%;
}

#nav-bar {
  /* display: flex; */
  border-bottom: solid black;
  /* margin-bottom: 20px; */
  margin-left: -4px;
  margin-right: -4px;
}

ul {
  width: auto;
  display: flex;
  list-style: none;
  padding: 0px;
  border-bottom: solid black;
  /* border: solid 1px blue; */
}

li {
  flex: auto;
  text-align: center;
  border-left: #000000 1px solid;
  border-right: #000000 1px solid;
  overflow: hidden;
  padding-top: 0.35%;
  padding-bottom: 0.35%;
}

li:hover {
  background: blue;
  color: white;
  cursor: pointer;
}

#text-box {
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  float: none;
  font-size: 0.7em;
}

#text-box span {
  font-family: monospace;
  font-size: large;
  color:#0000;
  background:
    linear-gradient(-90deg,black 5px,#0000 0) 10px 0,
    linear-gradient(black 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation:
    b .3s infinite steps(1),
    t calc(var(--n)*0.015s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#title {
  width: fit-content;
}

h1, h2 {
  display: inline;
}

footer {
  /* padding: 1%; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: green;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)),
                  url(img/grass.png);
  background-size: contain;
  perspective: 500px;
  background-repeat: repeat-x;
  text-align: center;
  color:white;
  padding-top: 10px;
  z-index: 9;
}


#running {
  position: absolute;
  bottom: 37px;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
  /* position: relative; */
  /* overflow: hidden; */
}

#running img {
  /* position: absolute; */
  /* bottom: 37px; */
  min-width: 50px;
  min-height: 50px;
  width: 3vw;
  height: 3vw;
  /* overflow: hidden; */
}

@-webkit-keyframes run {
  0% {
    left: -25vw;
  }
  100% {
    left: 100vw;
  }
}

@media (min-width: 960px) {
  body {
     overflow-x: hidden;
  }
}

#clouds {
  position: absolute;
  top: 0;
  height: 100%;
}

#clouds img {
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 30s;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 4px),
    4px calc(100% - 2px),
    6px calc(100% - 2px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 2px,
    4px 2px,
    2px 4px,
    2px 6px,
    0px 6px);
  position: relative;
}
.pixel-corners {
  border: 2px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(2px 6px,
    4px 6px,
    4px 4px,
    6px 4px,
    6px 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 6px),
    2px calc(100% - 6px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 4px),
    4px calc(100% - 2px),
    6px calc(100% - 2px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 2px,
    4px 2px,
    2px 4px,
    2px 6px,
    0px 6px,
    0px 50%,
    2px 50%,
    2px 6px,
    4px 6px,
    4px 4px,
    6px 4px,
    6px 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 6px),
    2px calc(100% - 6px),
    2px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -2px;
}