html {
  height: 100%;
}

body {
  /* background: linear-gradient(0deg, rgba(121,66,0,1) 0%, rgba(134,74,4,1) 3%, rgba(0,1,93,1) 22%, rgba(2,13,83,1) 100%); sunset? */

  /* background: linear-gradient(0deg, rgba(62,0,152,1) 0%, rgba(74,0,173,1) 3%, rgba(0,1,93,1) 22%, rgba(2,13,83,1) 100%); */

  /* background: linear-gradient(0deg, rgba(255,147,19,1) 0%, rgba(167,94,11,1) 3%, rgba(45,25,3,1) 31%, rgba(0,0,0,1) 100%); sunset */
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(135,235,255,1) 25%, rgba(0,212,255,1) 100%);
  font-family: 'DogicaRegular';
  font-weight: normal;
  font-style: normal;
  /* height: 100%; */
  overflow-y: hidden;
}

#test {
  background-color: white;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-bottom: 10vh;
  margin-right: 10vw;
  width: 80vw;
  height: 82vh;
  padding:0;
  z-index: 10;
}

#about img {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  min-width: 500px;
  min-height: 500px;

  border-color: black;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#about div {
  margin-left: 1%;
}

#nav-bar {
  /* display: flex; */
  border-bottom: solid black;
  /* margin-bottom: 20px; */
  margin-left: -4px;
  margin-right: -4px;
}

#nav li:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
  background-color: rgb(167, 167, 167);
}

#nav li:active {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
  background-color: rgb(119, 119, 119);
}




ul {
  width: auto;
  display: flex;
  list-style: none;
  padding: 0px;
  border-bottom: solid black;
  /* border: solid 1px blue; */
  align-items: stretch;
  /* background-color: red; */
}

li {
  flex:1;
  text-align: center;
  border-left: #000000 1px solid;
  border-right: #000000 1px solid;
  /* border-bottom: #000000 3px solid; */
  overflow: hidden;
  padding-top: 0.45rem;
  padding-bottom: 0.35rem;
}

li:hover {
  cursor: pointer;
}

li span {
  padding-top: 10%;
  /* margin-top: 25%; */
}

i {
  width: 5px !important;
  height: 5px !important;
  /* font-size: 0.50em !important; */
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: -5px;
}


#text-box {
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  float: none;
  font-size: 0.7em;
}

#text-box p span {
  font-family: monospace;
  font-size: large;
}

.text-box-no-animation {
  color: black;
}

.text-box-animation {
  color:#00000000;
  background:
  linear-gradient(-90deg,black 5px,#0000 0) 10px 0,
  linear-gradient(black 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation:
    b .3s infinite steps(1),
    t calc(var(--n)*0.015s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#title {
  width: fit-content;
}

h1, h2 {
  display: inline;
}

footer {
  /* padding: 1%; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: green;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)),
                  url(img/grass.png);
  background-size: contain;
  perspective: 500px;
  background-repeat: repeat-x;
  text-align: center;
  color:white;
  padding-top: 10px;
  z-index: 9;
}


#running {
  position: absolute;
  bottom: 37px;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  -webkit-animation: linear;
  animation-iteration-count: 1;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
  /* position: relative; */
  /* overflow: hidden; */
}



#running img {
  /* position: absolute; */
  /* bottom: 37px; */
  margin-left: 3%;
  margin-right: 3%;
  min-width: 50px;
  min-height: 50px;
  width: 3vw;
  height: 3vw;
  /* overflow: hidden; */
}

@-webkit-keyframes run {
  0% {
    left: -25vw;
  }
  100% {
    left: 100vw;
  }
}

@media (min-width: 960px) {
  body {
     overflow-x: hidden;
  }
}

#clouds {
  position: absolute;
  top: 0;
  height: 100%;
}

#clouds img {
  /* width: 15vw; */
  position: absolute;
  -webkit-animation: linear;
  -webkit-animation-name: run;
  -webkit-animation-duration: 30s;
  animation-iteration-count: 1;
}


.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 4px),
    4px calc(100% - 2px),
    6px calc(100% - 2px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 2px,
    4px 2px,
    2px 4px,
    2px 6px,
    0px 6px);
  position: relative;
}
.pixel-corners {
  border: 2px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(2px 6px,
    4px 6px,
    4px 4px,
    6px 4px,
    6px 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 6px),
    2px calc(100% - 6px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 4px),
    4px calc(100% - 2px),
    6px calc(100% - 2px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 2px,
    4px 2px,
    2px 4px,
    2px 6px,
    0px 6px,
    0px 50%,
    2px 50%,
    2px 6px,
    4px 6px,
    4px 4px,
    6px 4px,
    6px 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 6px),
    2px calc(100% - 6px),
    2px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -2px;
}


@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }
  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }
  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(80px)
  }
}

/* from https://codepen.io/sadness97/pen/mdOXzNW */

.snowflake {
  position: fixed;
  top: -10%;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

#portfolio {
  height: 70vh;
}

.top-text-box-div img {
  height: 15vh;
  width: 15vh;
}

.top-text-box-div {
  display: flex;
  justify-content: center;
  gap: 1%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.top-text-box {
  width: 100%;
  word-wrap: normal;
}

.project-selector {
  height: 55vh;
  width: 25vw;
}

.project-container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  gap: 1%;
}

.project-display {
  height: 55vh;
  width: 50vw;
}

h3 {
  text-align: center;
  padding-top: 0.75vh;
  padding-bottom: 0.75vh;
  border-bottom: solid black 2.5px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.project-selector-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
  padding-top: 1%;
  padding-bottom: 10%;
}

.project-card {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  padding-top: 1vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  gap: 5%;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.selected {
  background-color: rgb(199, 199, 199);
}

.project-card div img {
  width: 7vw;
  height: 7vw;
  padding: 10%;
  background-color: lightblue;
}

.project-card div {
  margin-top: 0.1rem;
}

.project-card h4 {
  display: inline-flex;
  /* width: 100%; */
  word-wrap: none;
  font-size: 0.8rem;
  text-align: center;
}


.project-display-container {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  gap: 1%;
  height: 95%;
}

.project-display-main {
  width:65%;
  height: 90%;
}

.project-display-side-container {
  width:30%;
  height: 90%;
  object-fit: contain;
}

.project-display-side {
  width:100%;
  height:90%;
}

.project-display-side-container button {
  display: block;
  margin-top: 1.5%;
  /* padding-top: 5%; */
  /* padding-bottom: 5%; */
  height: 9%;
  width: 100%;
}

.project-display-side h4 {
  text-align: center;
  padding-top: 0.75vh;
  padding-bottom: 0.75vh;
  border-bottom: solid black 2.5px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

#ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ingredients div {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: nowrap;
  gap: 5%;
  margin-left: 10%;
  margin-top: 5%;
}


#ingredients div p {
  margin-bottom: 0;
}

#ingredients div img {
  object-fit: contain;
  width: 2vw;
  height: 2vw;
}

.project-display-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.project-display-main div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot-container {
  width: 90%;
}

.screenshot {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.link-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  background-color: #efefef;
}

.link-button p {
  margin-left: 1.15vw;
  margin-bottom: 0;
}

.link-button img {
  filter: invert(1);
  object-fit: contain;
  width: 2vw;
  height: auto;
}

.link-button-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.project-section {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

#project-details h3 {
  margin-bottom: 1.25rem;
  border-style: none;
}

#project-details h4 {
  display: block;
  margin-right: 10%;
  border-color: #2361AE;
  background-color: #2361AE;
  border-style: solid;
  border-width: 0.2rem 2.9rem;
  border-radius: 100px;
}

#project-details h4 span {
  display: block;
  border-radius: 100px;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid #FFD325 0.18rem;
  background: white;
  margin: 0;
}

.project-gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 95%;
  height: 25vh;
  overflow: hidden;
}

.project-gallery img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 2rem;
  object-fit: contain;
}

.project-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 2rem;
  margin-right: 2rem;
}

.project-main {
  width: 75%;
  margin-right: 2rem;
}

#project-stats {
  width: 25%;
}


#project-stats ul {
  display: block;
  padding-left: 0.75rem;
  flex-direction: column;
  border: none;
}

#project-stats li {
  list-style: disc outside none;
  text-align: left;
  border: none;
}

#project-stats h4 {
  border: none;
  background-color: #00000000;
  text-align: center;
  margin: 0;
  border-radius: 0;
  border-bottom: solid black 2px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#project-details {
  height: calc(100% - 4rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.project-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.project-back-button {
  position: absolute;
  z-index: 1;
  top: 3.75rem;
  left: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}


.hidden {
  display: none !important;
}


#resume {
  overflow-y: scroll;
}

#resume-display {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  margin-bottom: 1rem;
}

#resume-display object {
  width: 70%;
  height: 90%;
  margin-bottom: 2rem;
}

#credits-main {
  display: flex;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-left: 2.5%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#credits-main li {
  border: none;
  text-align: left;
  list-style: none;
  width: 100%;
}

#credits-main div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.stars img {
  position: absolute;
  box-shadow: 0 0 10px 2px white;
  animation: twinkle 2s infinite alternate ease-out;
  /* transform: rotate(75deg); */
}


@keyframes twinkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}


@media (prefers-color-scheme: dark) {
  #clouds {
    filter: brightness(65%);
  }

  body {
    background: linear-gradient(0deg, rgba(62,0,152,1) 0%, rgba(74,0,173,1) 3%, rgba(0,1,70,1) 22%, rgba(0,8,61,1) 100%);
  }

  #grass {
    filter: brightness(80%);
  }
}

.shooting-star-head {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  filter: drop-shadow(0 0 6px #d7dff0);
  animation: shoot 8s ease-in-out 1
}

.particle {
  position: absolute;
  background: white;
  left: -5vw;
  opacity: 50%;
  width: 4px;
  height: 4px;
}

@keyframes shoot {
  to {
    transform: translate(150vw, 75vh);
  }
}


#dog-container {
  position: absolute;
  width: 80vw;
  margin: 1.65vh 10.25vw 10vh;
  height: 25%;
  top: 0;
  left: 0;
}

#dog-container img {
  height: 15%;
  position: absolute;
}

#standing {
  top: 0vh;
  animation: move-up 0.5s ease-in 1;
}

#run {
  animation: left-to-right 5s linear 1;
  left: 65vw;
}


@keyframes move-up {
  from {
    top: 3vh;
  } to {
    top: 0vh;
  }
}

#slide {
  margin-top: 0.5vh;
  width: 2.5vw;
  object-fit: contain;
  left: 74.9vw;
  animation: slide 3s ease-out 1;
}

#sleep-1 {
  margin-top: 0.5vh;
  width: 3vw;
  object-fit: contain;
  left: 75vw;
}

#sleep {
  margin-top: 0.5vh;
  width: 2.6vw;
  object-fit: contain;
  left: 74vw;
}

#zzz {
  width: 2%;
  height: 0.1%;
  object-fit: contain;
  left: 77.7vw;
  top: -1.75vh;
}

@keyframes left-to-right {
  0% {
    left: 0vw;
  }
  100% {
    left: 65vw;
  }
}

@keyframes slide {
  0% {
    left: 66vw;
  }
  100% {
    left: 75.05vw;
  }

}